@page "/BaZhu"

<div style="background:#ECECEC; padding:30px">
    <Card Bordered="false" Title=@("用户信息面板") Style="width:100%"> 
        <Body>
            <Row Style="height:100px;line-height:100px;font-size:20px">
                    <Col Span="8">用户ID:101</Col>
                    <Col Span="8">是否封禁&nbsp;&nbsp;&nbsp;&nbsp;<Switch CheckedChildren="是" UnCheckedChildren="否"></Switch></Col>
                    <Col Span="8">是否为管理员&nbsp;&nbsp;&nbsp;&nbsp;<Switch CheckedChildren="是" UnCheckedChildren="否"></Switch></Col>
            </Row>

            <Row Style="height:100px;line-height:100px;font-size:20px">
                    <Col Span="8">用户ID:102</Col>
                    <Col Span="8">是否封禁&nbsp;&nbsp;&nbsp;&nbsp;<Switch CheckedChildren="是" UnCheckedChildren="否"></Switch></Col>
                    <Col Span="8">是否为管理员&nbsp;&nbsp;&nbsp;&nbsp;<Switch CheckedChildren="是" UnCheckedChildren="否"></Switch></Col>
            </Row>

            <Row Style="height:100px;line-height:100px;font-size:20px">
                    <Col Span="8">用户ID:103</Col>
                    <Col Span="8">是否封禁&nbsp;&nbsp;&nbsp;&nbsp;<Switch CheckedChildren="是" UnCheckedChildren="否"></Switch></Col>
                    <Col Span="8">是否为管理员&nbsp;&nbsp;&nbsp;&nbsp;<Switch CheckedChildren="是" UnCheckedChildren="否"></Switch></Col>
            </Row>

            <Row Style="height:100px;line-height:100px;font-size:20px"> 
                    <Col Span="8">用户ID:104</Col>
                    <Col Span="8">是否封禁&nbsp;&nbsp;&nbsp;&nbsp;<Switch CheckedChildren="是" UnCheckedChildren="否"></Switch></Col>
                    <Col Span="8">是否为管理员&nbsp;&nbsp;&nbsp;&nbsp;<Switch CheckedChildren="是" UnCheckedChildren="否"></Switch></Col>
            </Row>

            <Row Style="height:100px;line-height:100px;font-size:20px">
                    <Col Span="8">用户ID:105</Col>
                    <Col Span="8">是否封禁&nbsp;&nbsp;&nbsp;&nbsp;<Switch CheckedChildren="是" UnCheckedChildren="否"></Switch></Col>
                    <Col Span="8">是否为管理员&nbsp;&nbsp;&nbsp;&nbsp;<Switch CheckedChildren="是" UnCheckedChildren="否"></Switch></Col>
            </Row>
        </Body>
    </Card>
</div>

@code {

}
