@*表头*@
<Divider Style="position:relative;top:50px;background-color:gray" />
<PageHeader Style="margin-top:80px">
    <PageHeaderTitle>
        <h1>精华帖子</h1>
    </PageHeaderTitle>
    <PageHeaderSubtitle>
        都是精华
    </PageHeaderSubtitle>
    <PageHeaderTags>
        <Tag PresetColor="@PresetColor.Red">Red</Tag>
        <Button Shape="round" Type="@ButtonType.Primary"><Icon Type="plus-square" Theme="outline" />发布帖子</Button>
    </PageHeaderTags>
    <PageHeaderExtra>
        <PostClassification></PostClassification>
    </PageHeaderExtra>
</PageHeader>

@code {

}
