@*轮播图组件*@

<style>
    #kuang {
        position: relative;
        top: 30px;
        border-radius: 12px;
    }

    #tu {
        z-index: 1;
        position: absolute;
        width: 6000px;
        border-radius: 10px;
    }


        #tu .T {
            float: left;
            width: 1200px;
            height: 630px;
            border-radius: 10px;
        }
</style>

<div id="kuang" style="width: 1200px;height: 420px;box-shadow: 5px 5px 32px 4px black;margin:0 auto;overflow: hidden;z-index:4">
    <div id="tu" style="left: -2400px;z-index:0">
        <img src="img/three.png" class="T" style="z-index:1" />
        <img src="img/one.png" class="T" style="z-index:1" />
        <img src="img/two.png" class="T" style="z-index:1" />
        <img src="img/three.png" class="T" style="z-index:1" />
        <img src="img/one.png" class="T" style="z-index:1" />
    </div>
    <div id="left" onclick="left()" style="opacity: 0.75;height: 128px;width: 80px;position: absolute;left: 10px;top: 142px;z-index: 2;cursor: pointer;border-radius:20px;"></div>
    <div id="right" onclick="right()" style="opacity: 0.75;height: 128px;width: 80px;position: absolute;right: 10px;top: 142px;z-index: 2;cursor: pointer;border-radius:20px;"></div>
    <div id="oneBT" onclick="oneCL(1)" style="width:20px;height:15px;position:absolute;bottom:10px;right:300px;background-color:gray;opacity:0.8;z-index:2;cursor:pointer;border-radius:20px"></div>
    <div id="twoBT" onclick="twoCL(1)" style="width:40px;height:15px;position:absolute;bottom:10px;right:250px;background-color:gray;opacity:0.8;z-index:2;cursor:pointer;border-radius:20px"></div>
    <div id="threeBT" onclick="threeCL(1)" style="width:20px;height:15px;position:absolute;bottom:10px;right:200px;background-color:gray;opacity:0.8;z-index:2;cursor:pointer;border-radius:20px"></div>
</div>



@code {

}
