@*帖子分类组件*@

<Button Shape="round"><Icon Type="fire" Class="iconTop"/>热度</Button>
<Button Shape="round"><Icon Type="thunderbolt" Class="iconTop" />点击量</Button>
<Button Shape="round"><Icon Type="like" Class="iconTop" />点赞量</Button>


@code {

}
